*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #526D82;
}
header{
    height: 60px;
}
header h1{
    display: inline-block;
    float: center;
    padding: 10px 30px;
    text-transform: uppercase;
}
header h1 a{
    transition: .3s;
}
header h1 a:hover{
    color: white;
}
header ul{
    float: center;
}
header ul li{
    padding: 24px;
    display: inline-block;
}
header ul li a{
    transition: .3s;
}
header ul li a:hover {
    color: white;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(78, 10, 75, 0.9);
    transition:  .5s;
    z-index: 9999;
}
.sidebar ul li a{
    color: black;
}
.sidebar ul li{
    padding: 24px;
    transition: .3s;
}
.sidebar ul li:hover{
    background-color: white;
}
#check:checked ~ .sidebar{
    left: 0;
}
.banner {
    background-color: #9DB2BF;
    padding: 80px 0;
}
section{
    padding: 50px 0;
}
.banner img{
    width: 150px;
    border-radius: 7px;
    box-shadow: 0 3px 5px black;
    margin-bottom: 15px;
}
.banner h2,
.banner p,
.banner span {
    color: black;
}
.banner h2{
    margin-bottom: 5px;
}
.banner p{
    font-size: 18px;
}
.banner-left {
    padding-left: 24px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 50px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 1px;
    background-color: black;
    left:  calc(50% - 60px);
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: black;
    left:  calc(50% - 20px);
}
#about p{
    text-align: justify;
    text-indent: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
footer {
    background-color: #526D82;
    padding: 50px;
    text-align: left;
}
footer small{
    color: black;
}
html{
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .col-3{
        width: 110%;
    }
}